@model List<ResultBlogCategoryDto>

@{
    ViewData["Title"] = "Blog Category Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<title>@ViewData["Title"]</title>

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Category Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BlogCategoryId</td>
                <td>@item.Name</td>
                <td>
                    <button onclick="DeleteCheck('Admin', 'BlogCategory', 'Delete', @item.BlogCategoryId)" class="btn btn-outline-danger">Delete</button>
                    <a asp-action="UpdateBlogCategory" asp-controller="BlogCategory" asp-area="Admin" asp-route-id="@item.BlogCategoryId" class="btn btn-outline-info">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<a asp-action="CreateBlogCategory" asp-controller="BlogCategory" asp-area="Admin" class="btn btn-outline-primary">Create New Blog Category</a>
