@model List<ResultSubscriberDTO>

@{
    ViewData["Title"] = "Subscriber Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<title>@ViewData["Title"]</title>

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>Is Active</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SubscriberId</td>
                <td>@item.Email</td>
                <td>@(item.IsActive ? "Yes" : "No")</td>
                <td>
                    <button onclick="DeleteCheck('Admin', 'Subscriber', 'Delete', @item.SubscriberId)" class="btn btn-outline-danger">Delete</button>
                    <a asp-action="UpdateSubscriber" asp-controller="Subscriber" asp-area="Admin" asp-route-id="@item.SubscriberId" class="btn btn-outline-info">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<a asp-action="CreateSubscriber" asp-controller="Subscriber" asp-area="Admin" class="btn btn-outline-primary">Create New Subscriber</a>
