@model List<ResultServicesCategoryDTO>

@{
    ViewData["Title"] = "Service Category Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<title>@ViewData["Title"]</title>

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Category Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ServiceCategoryID</td>
                <td>@item.Name</td>
                <td>
                    <button onclick="DeleteCheck('Admin', 'ServicesCategory', 'Delete', @item.ServiceCategoryID)" class="btn btn-outline-danger">Delete</button>
                    <a asp-action="UpdateServicesCategory" asp-controller="ServicesCategory" asp-area="Admin" asp-route-id="@item.ServiceCategoryID" class="btn btn-outline-info">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<a asp-action="CreateServicesCategory" asp-controller="ServicesCategory" asp-area="Admin" class="btn btn-outline-primary">Create New Service Category</a>
