@model List<ResultSocialMediaDTO>

@{
    ViewData["Title"] = "Social Media Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<title>@ViewData["Title"]</title>

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Icon</th>
            <th>Title</th>
            <th>URL</th>
            <th>Employee Id</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SocialMediaId</td>
                <td>@item.Icon</td>
                <td>@item.Title</td>
                <td>@item.Url</td>
                <td>@item.EmployeeID</td>
                <td>
                    <button onclick="DeleteCheck('Admin', 'SocialMedia', 'Delete', @item.SocialMediaId)" class="btn btn-outline-danger">Delete</button>
                    <a asp-action="UpdateSocialMedia" asp-controller="SocialMedia" asp-area="Admin" asp-route-id="@item.SocialMediaId" class="btn btn-outline-info">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<a asp-action="CreateSocialMedia" asp-controller="SocialMedia" asp-area="Admin" class="btn btn-outline-primary">Create New Social Media</a>
